{% if include.item.authors and include.item.venue %}
  {% capture citation %}
    {{ include.item.authors }}. "{{ include.item.title }}". <i>{{ include.item.venue }}</i>{% if include.item.volume or include.item.issue or include.item.pages or include.item.year or include.item.doi %}, {% else %}.{% endif %}
    {%- if include.item.volume -%}{{ include.item.volume }}{%- endif -%}
    {%- if include.item.issue -%}({{ include.item.issue }}){%- endif -%}
    {% if include.item.volume or include.item.issue %}{% if include.item.pages or include.item.year or include.item.doi %}, {% else %}.{% endif %}{% endif %}
    {% if include.item.pages %}{{ include.item.pages }}{% if include.item.year or include.item.doi %}, {% endif %}{% else %}.{% endif %}
    {% if include.item.year %}{{ include.item.year }}{% if include.item.doi %}. {% else %}.{% endif %}{% endif %}
    {% if include.item.doi %}https://doi.org/{{ include.item.doi }}{% endif %}
  {% endcapture %}
  {% if include.context == "post" %}
    <p class="archive__item-excerpt" itemprop="description">{{ citation | strip }}</p>
  {% elsif include.context == "page" %}
    <p style="font-size: smaller">Recommended citation: {{ citation | strip }}</p>
  {% endif %}
{% endif %}
