{% if include.item.paperurl %}
  {% assign paper_url = include.item.paperurl %}
{% elsif include.item.doi %}
  {% assign paper_url = "https://doi.org/" | append: include.item.doi %}
{% else %}
  {% assign paper_url = nil %}
{% endif %}

{% assign slides_url = include.item.slidesurl %}
{% assign bibtex_url = include.item.bibtexurl %}

{% if paper_url or slides_url or bibtex_url %}
  {% capture citation %}
    {% if paper_url %}
      <a href="{{ paper_url }}">Download Paper</a>
      {% if slides_url or bibtex_url %} | {% endif %}
    {% endif %}

    {% if slides_url %}
      <a href="{{ slides_url }}">Download Slides</a>
      {% if bibtex_url %} | {% endif %}
    {% endif %}

    {% if bibtex_url %}
      <a href="{{ bibtex_url }}">Download Bibtex</a>
    {% endif %}
  {% endcapture %}
  
  {% if include.context == "post" %}
    <p class="archive__item-excerpt" itemprop="description">{{ citation | strip }}</p>
  {% elsif include.context == "page" %}
    <p style="font-size: smaller">{{ citation | strip }}</p>
  {% endif %}
{% endif %}
